@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
margin: 0 auto;
  font: 100%/1.4 'Times New Roman',Times,congo;
}
.homePage {
background: #061542;
}
.container {
width: 960px;
margin: 0 auto;
}
.header {
background: #9A8045;
text-align: center;
margin: 0px;
padding: 5;
float: left;
width: 100%;
height: 80px;

}

<h3> {
  color: #9A8045;
  font-family:monospace;
}
<p> {
  font-family:monospace;
  color: #F5D52A;
  text-align: left;
}
.nav {
background: #ECDBB3;
margin: 0px;
padding: 5;
float: left;
width: 100%;
height: 60px;
text-align: center;
}
.content {
background: #2C4782;
margin: 0px;
float: left;
width: 100%;
text-align: left;
}
.footer {
background: #3D61E3;
margin: 20px;
float: left;
width: 100%;
height: 50px;
text-align: center;
}
h1 {
    font-family:monospace;
}

img {
  border-color: #ECDBB3;
  border-width: 4px;
  border-style: solid;
  border-radius: 13px;
  align:center
}
