@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font:100%/1.41.4 Verdana, Arial, Helvetica, sans-serif;
     background-color: #061542;
     margin: 0;
     padding: 0;
     color: #000;
	}

a:link {
     color: #061542;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
}
.homePage {
	background: #061542;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #9A8045;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #2C4782;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #728BC2;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #402D02;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
